.checkboxtoggle-cointainer {
	display: inline-block;
  }
  .sit {
	display: none;
  }
  .sit, .sit:after, .sit:before, .sit *, .sit *:after, .sit *:before, .sit + .sit-btn {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }
  .sit::-moz-selection, .sit:after::-moz-selection, .sit:before::-moz-selection, .sit *::-moz-selection, .sit *:after::-moz-selection, .sit *:before::-moz-selection, .sit + .sit-btn::-moz-selection {
	background: none;
  }
  .sit::selection, .sit:after::selection, .sit:before::selection, .sit *::selection, .sit *:after::selection, .sit *:before::selection, .sit + .sit-btn::selection {
	background: none;
  }
  .sit + .sit-btn {
	outline: 0;
	display: block;
	width: 4em;
	height: 2em;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }
  .sit + .sit-btn:after, .sit + .sit-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
  }
  .sit + .sit-btn:after {
	left: 0;
  }
  .sit + .sit-btn:before {
	display: none;
  }
  .sit:checked + .sit-btn:after {
	left: 50%;
  }

  .sit-light + .sit-btn {
	background: #f0f0f0;
	border-radius: 2em;
	padding: 2px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
  }
  .sit-light + .sit-btn:after {
	border-radius: 50%;
	background: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
  }
  .sit-light:checked + .sit-btn {
	background: #9FD6AE;
  }

  .sit-ios + .sit-btn {
	background: #fbfbfb;
	border-radius: 2em;
	padding: 2px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	border: 1px solid #e8eae9;
  }
  .sit-ios + .sit-btn:after {
	border-radius: 2em;
	background: #fbfbfb;
	-webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
	transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }
  .sit-ios + .sit-btn:hover:after {
	will-change: padding;
  }
  .sit-ios + .sit-btn:active {
	-webkit-box-shadow: inset 0 0 0 2em #e8eae9;
			box-shadow: inset 0 0 0 2em #e8eae9;
  }
  .sit-ios + .sit-btn:active:after {
	padding-right: .8em;
  }
  .sit-ios:checked + .sit-btn {
	background: #86d993;
  }
  .sit-ios:checked + .sit-btn:active {
	-webkit-box-shadow: none;
			box-shadow: none;
  }
  .sit-ios:checked + .sit-btn:active:after {
	margin-left: -.8em;
  }

  .sit-skewed + .sit-btn {
	overflow: hidden;
	-webkit-transform: skew(-10deg);
			transform: skew(-10deg);
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	font-family: sans-serif;
	background: #888;
  }
  .sit-skewed + .sit-btn:after, .sit-skewed + .sit-btn:before {
	-webkit-transform: skew(10deg);
			transform: skew(10deg);
	display: inline-block;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 2em;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  .sit-skewed + .sit-btn:after {
	left: 100%;
	content: attr(data-tg-on);
  }
  .sit-skewed + .sit-btn:before {
	left: 0;
	content: attr(data-tg-off);
  }
  .sit-skewed + .sit-btn:active {
	background: #888;
  }
  .sit-skewed + .sit-btn:active:before {
	left: -10%;
  }
  .sit-skewed:checked + .sit-btn {
	background: #86d993;
  }
  .sit-skewed:checked + .sit-btn:before {
	left: -100%;
  }
  .sit-skewed:checked + .sit-btn:after {
	left: 0;
  }
  .sit-skewed:checked + .sit-btn:active:after {
	left: 10%;
  }

  .sit-flat + .sit-btn {
	padding: 2px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #fff;
	border: 4px solid #f2f2f2;
	border-radius: 2em;
  }
  .sit-flat + .sit-btn:after {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #f2f2f2;
	content: "";
	border-radius: 1em;
  }
  .sit-flat:checked + .sit-btn {
	border: 4px solid #7FC6A6;
  }
  .sit-flat:checked + .sit-btn:after {
	left: 50%;
	background: #7FC6A6;
  }

  .sit-flip + .sit-btn {
	padding: 2px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	font-family: sans-serif;
	-webkit-perspective: 100px;
			perspective: 100px;
  }
  .sit-flip + .sit-btn:after, .sit-flip + .sit-btn:before {
	display: inline-block;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 2em;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	border-radius: 4px;
  }
  .sit-flip + .sit-btn:after {
	content: attr(data-tg-on);
	background: #02C66F;
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
  }
  .sit-flip + .sit-btn:before {
	background: #FF3A19;
	content: attr(data-tg-off);
  }
  .sit-flip + .sit-btn:active:before {
	-webkit-transform: rotateY(-20deg);
			transform: rotateY(-20deg);
  }
  .sit-flip:checked + .sit-btn:before {
	-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
  }
  .sit-flip:checked + .sit-btn:after {
	-webkit-transform: rotateY(0);
			transform: rotateY(0);
	left: 0;
	background: #7FC6A6;
  }
  .sit-flip:checked + .sit-btn:active:after {
	-webkit-transform: rotateY(20deg);
			transform: rotateY(20deg);
  }
